<!doctype html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="<%= require('./img/favicon.png') %>">
    <%= htmlWebpackPlugin.tags.headTags %>
    <title>IDE-SAN</title>
</head>
<body>
<div class="wrap">
    <div class="hover-wrapper-3d" onclick="">
        <div class="card">
            <div class="card__front">
                <div class="card__title">Hello</div>
                <div class="card__content">
                    <p>
                        I just wanted to inform you<br>
                        that I find you to be very<br>
                        attractive.
                    </p>
                    <p>
                        Thank you,<br>
                        and have a nice day.
                    </p>
                    <div class="card__heart">
                        <img src="<%= require('./img/herz-idesan.svg') %>" inline>
                    </div>
                </div>
            </div>
            <div class="card__back">
                <img src="<%= require('./img/herz-idesan.svg') %>" inline>
                <p>
                    please be environmentally responsible and reuse this<br>
                    card on the next attractive person you see
                </p>
            </div>
        </div>
    </div>

    <span class="copyright" title="ise is love">&copy; IDE-SAN</span>
</div>
</body>
</html>
