$black: #002500;
$white: #fafafa;

:root {
  --primary-color: #{$black};
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
  font-family: 'Roboto Mono', monospace;
}

body {
  color: #222;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: $white;
  position: relative;
}

.copyright {
  position: absolute;
  right: 1px;
  bottom: 1px;
  font-size: 0.7em;
}

.card {
  //width: 300px;
  //height: 200px;
  width: 8.3cm;
  height: 5.5cm;
  box-shadow: 2px 2px 5px 0px rgba($black, 0.3);
  color: var(--primary-color);

  transition: all .5s ease-out;
  transform: rotateY(0);

  // front/back
  &__front, &__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    padding: 30px 30px 30px 30px;
  }

  &__front {
    transition: .4s all linear;
  }
  &__back {
    opacity: 0;
    background-color: var(--primary-color);
    color: rgba($white, 0.9);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.25em;

    transform: rotateY(.5turn);
    transition-delay: .17s;

    svg {
      flex-grow: 1;
      fill: $white;
      width: 60px;
    }
    p {
      width: 100%;
      text-align: center;
      font-size: 0.6em;
    }
  }

  &__title {
    font-size: 1.5em;
    font-weight: bold;
    border-bottom: 3px solid var(--primary-color);
  }

  &__content {
    position: relative;
  }

  &__heart {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 30px;

    svg {
      fill: var(--primary-color);
    }
  }

  // hover
  @at-root .hover-wrapper-3d:hover & {
    transform: rotateY(.5turn);
    box-shadow: -2px 2px 5px 2px rgba($black, 0.3);

    .card__front {
      opacity: 0;
    }
    .card__back {
      opacity: 1;
      transition-delay: .17s;
    }
  }
}

* {
  box-sizing: border-box;
}

p:last-child {
  margin-bottom: 0;
}

// fonts
@font-face {
  font-family: 'Roboto Mono';
  src: url('./fonts/RobotoMono-Regular.ttf');
}
@font-face {
  font-family: 'Roboto Mono';
  src: url('./fonts/RobotoMono-Bold.ttf');
  font-weight: bold;
}
